.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161px;
  height: 62px;
  color: rgba(114, 90, 88, 1);
  padding: 24px 32px 24px 32px;
  background-color: transparent;
  opacity: 0.6;
  border: 0.5px solid #999;
}
