@import '../abstracts/variables';
@import '../base/typography';

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-top: 10px;

  input[type='checkbox'] {
    appearance: none;
    position: relative;
    width: 22px;
    height: 22px;
    border: 1px solid $dark-pink;
    background-color: $white;
    cursor: pointer;

    transition:
      background-color 0.2s ease,
      border-color 0.2s ease;

    &:checked {
      background-color: $pink;
      border-color: $pink;
    }

    &:checked::after {
      content: '';
      position: absolute;
      left: 3.5px;
      top: 5px;
      width: 11px;
      height: 4.5px;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      transform: rotate(-45deg);
    }
  }

  label {
    font-size: $body-size !important;
    color: $black;
    cursor: pointer;
    line-height: 24px;
  }
}
