@import '../abstracts/variables';
@import '../base/typography';
@import '../components/input';

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 65px;

  @media (min-width: 768px) {
    margin-top: 120px;
  }

  h2 {
    @include serif-cap($h4-cap-size);
    color: $dark-brown;

    @media (min-width: 768px) {
      @include serif-cap($h1-cap-size);
    }
  }

  p {
    @include primary-text($body-small-size);
    width: 328px;
    margin: 16px auto 0;
    color: $black;
    font-weight: 300;

    @media (min-width: 768px) {
      width: 474px;
      @include primary-text($body-size);
    }
  }

  .booking-form {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 40px;
    background-color: $light-pink;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 768px) {
      width: 768px;
      margin-top: 60px;
      padding: 0 80px 60px;
    }

    &__header {
      border-bottom: 1px solid $black;
      padding: 40px 0 6px;

      h5 {
        @include serif-heading($h5-size);
      }

      @media (min-width: 768px) {
        padding-top: 60px;
      }
    }

    &__sub-title {
      @include serif-heading($h5-size);
      font-weight: 300;
      text-align: left;
      padding-top: 40px;

      @media (min-width: 768px) {
        padding-top: 60px;
      }
    }

    &__group,
    &__field {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    &__date-time {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
        gap: 40px;
      }
    }

    &__options {
      @include serif-heading($button-size);
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 19px;

      @media (min-width: 768px) {
        flex-direction: row;
      }
    }

    &__input-wrapper {
      position: relative;
      display: flex;
      align-items: center;

      img {
        position: absolute;
        top: 50%;
        right: 12px;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
      }
    }

    .contact-method {
      label {
        margin-top: 24px;
      }

      &__input-wrap {
        display: none;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;

        &.fade-in {
          animation: fadeIn 0.3s ease-in-out forwards;
        }
      }

      .phone-field {
        display: flex;
        width: 100%;
        font-size: $body-size;
        background-color: $white;
        border: 1px solid $dark-pink;

        &__select-wrap {
          position: relative;

          img {
            position: absolute;
            top: 11px;
            left: 15px;
            pointer-events: none;
          }

          select {
            font-size: $body-size;
            padding: 12px 0 12px 44px;
            appearance: none;
            cursor: pointer;
            background-color: $white;
          }
        }

        input {
          @include input-base;
          border: none;
        }
      }
    }
  }

  &__submit {
    align-self: center;
    width: 100%;
    margin-top: 40px;
    padding: 17px 0;
    color: $dark-brown;
    background-color: transparent;
    border: 1px solid $dark-brown;
    font-size: $button-size;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      color: $white;
      background-color: $dark-pink;
    }

    @media (min-width: 768px) {
      width: 160px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
