<footer class="footer">
  <div class="container">
    <div class="footer__logo-section">
      <img
        src="./src/assets/header_logo.png"
        alt="Carla Beauty"
        class="footer__logo"
      />
      <div class="footer__tagline">Expert Makeup and Hairstyle Studio</div>
      <ul class="footer__icons" role="group" aria-label="Social media">
        <li>
          <a href="#" aria-label="Phone Call">
            <img src="./src/assets/svg/phone-call.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" aria-label="WhatsApp">
            <img src="./src/assets/svg/whats-app.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" aria-label="Instagram">
            <img src="./src/assets/svg/instagram.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>

    <hr class="footer__divider" />
    <nav class="footer__nav" aria-label="Footer navigation">
      <div class="footer__nav-grid">
        <ul class="footer__nav-left nav-left" role="group">
          <li><a href="./" class="active">Home</a></li>
          <li><a href="./pages/portfolio.html">My Work</a></li>
          <li><a href="./pages/services.html">Services</a></li>
          <li><a href="./pages/classes.html">Classes</a></li>
        </ul>
        <ul class="footer__nav-right nav-right" role="group">
          <li><a href="./pages/beauty.html">Beauty Tips</a></li>
          <li><a href="./pages/about.html">About</a></li>
          <li><a href="./pages/contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>
    <hr class="footer__divider" />

    <p class="footer__copyright">Copyright 2024, Carla Beauty</p>
  </div>
</footer>
